<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="assets/home/img/apple-icon.png">
  <link rel="icon" type="image/png" href="assets/home/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    panduanhamilku.com - Cara cepat hamil kurang dari 30 hari.
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <!-- CSS Files -->
  <link href="assets/home/css/material-kit.css?v=2.0.5" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="assets/home/demo/demo.css" rel="stylesheet" />
</head>

<body class="index-page sidebar-collapse">
  <nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="/reseller-madu">
          Panduan Hamilku
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/reseller-madu/admin">
              <i class="material-icons">person</i> Login
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="page-header header-filter clear-filter dark-filter" data-parallax="true" style="background-image: url('assets/home/img/content/1-1024x683.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand">
            <h1>Panduan Hamilku</h1>
            <!-- <h3>A Badass Bootstrap 4 UI Kit based on Material Design.</h3> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">

    <div class="section section-basic">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="text-center">
              <h2>Setelah 5 tahun menunggu..</h2>
              <h2>Akhirnya, yang dinantipun tiba, duh senangnya…</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm text-center">
            <img src="assets/home/img/content/t9-1.png" class="img-fluid" alt="Responsive image">
          </div>
          <div class="col-sm">
            <h4>
              Dear Bunda, Nama Saya Indri, Umur 34 Tahun dan sudah menikah 5 Tahun lalu. Inilah perjuangan ikhtiar promil saya hingga akhirnya berhasil HAMIL..
            </h4>
            <h4>
              Masalah sulit HAMIL ini adalah masalah yang sangat BESAR. Resiko perceraian atau suami minta poligami adalah hal yang sangat mungkin terjadi apabila masalah ini tidak segera diatasi.
            </h4>
            <h4>
              Saya dulu juga mengalami, setelah 5 tahun menikah saya belum juga diberikan momongan..
            </h4>
            <h4>
              Sampai akhirnya, Allah SWT membukakan jalan, ketika saya membuka facebook tidak sengaja ada teman yang share Testimoni Ikhtiar Program Hamil dengan bantuan Madu Aisyah. Hingga akhirnya saya dan suami mantapkan diri untuk berikhtiar Program Hamil Madu Aisyah.
            </h4>
          </div>
        </div>
      </div>
    </div>

    <div class="section section-basic">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="text-center">
              <h2>Alhamdulillah… </h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <h4>
              Kabar bahagia itu akhirnya datang pada 20 Mei 2018 kemarin, Kami (Team panduanhamilku.com) mendapat kabar bahwa Bu Indri postif hamil. Ada rasa bahagia & haru menyelimuti Bu Indri sekeluarga hingga kami pun turut merasakannya. Oya, photo penuh bahagia ini dikirim oleh Bu Indri kepada kami.
            </h4>
            <h4>
              Perjuangan Bu Indri dan Suami memang tidak mudah, mulai dari mendapat rintangan (keputihan dan sperma encer) hingga godaan untuk menyerah.
            </h4>
          </div>
          <div class="col-sm text-center">
            <img src="assets/home/img/content/Screenshot_1-1.png" class="img-fluid" alt="Responsive image">
          </div>
        </div>
      </div>
    </div>

    <div class="section section-basic">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="text-center">
              <h2 class="text-danger">”Tidak Ada Yang Tidak Mungkin, Terus Berusaha karena Hasil Tidak Akan Menghianati Usaha”</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm text-center">
            <img src="assets/home/img/content/1-1024x683.jpg" class="img-fluid" alt="Responsive image">
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <h4 class="text-center">
              Madu Aisyah adalah <strong class="text-success">pelopor Madu Kesuburan no.1 di Indonesia</strong>, Madu+Royal Jelly mengandung nutrisi sangat tinggi seperti mengandung glukosa, protein, asam amino esensial, mineral dan lemak. Sehingga sangat baik untuk kesuburan Pria & Wanita
            </h4>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="section section-basic">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="text-center">
              <h2>4.754 orang sudah kami bantu untuk bisa segera HAMIL.</h2>
              <h2>Berikut Real Testimoninya..</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 mt-4 text-center">
            <img src="assets/home/img/content/WhatsApp-Image-2018-08-28-at-13.56.45-576x1024.jpeg" class="img-fluid" alt="Testimoni">
          </div>
          <div class="col-sm-4 mt-4 text-center">
            <img src="assets/home/img/content/WhatsApp-Image-2018-08-28-at-13.57.20-576x1024.jpeg" class="img-fluid" alt="Testimoni">
          </div>
          <div class="col-sm-4 mt-4 text-center">
            <img src="assets/home/img/content/WhatsApp-Image-2018-08-28-at-13.57.19-576x1024.jpeg" class="img-fluid" alt="Testimoni">
          </div>
          <div class="col-sm-4 mt-4 text-center">
            <img src="assets/home/img/content/WhatsApp-Image-2018-08-28-at-13.57.18-576x1024.jpeg" class="img-fluid" alt="Testimoni">
          </div>
          <div class="col-sm-4 mt-4 text-center">
            <img src="assets/home/img/content/WhatsApp-Image-2018-08-28-at-13.57.16-576x1024.jpeg" class="img-fluid" alt="Testimoni">
          </div>
          <div class="col-sm-4 mt-4 text-center">
            <img src="assets/home/img/content/WhatsApp-Image-2018-08-28-at-13.57.15-636x1024.jpeg" class="img-fluid" alt="Testimoni">
          </div>
          <div class="col-sm-4 mt-4 text-center">
            <img src="assets/home/img/content/WhatsApp-Image-2018-08-28-at-13.57.13-576x1024.jpeg" class="img-fluid" alt="Testimoni">
          </div>
          <div class="col-sm-4 mt-4 text-center">
            <img src="assets/home/img/content/WhatsApp-Image-2018-08-28-at-13.57.32-576x1024.jpeg" class="img-fluid" alt="Testimoni">
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="section section-basic">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="text-center">
              <h2 class="text-danger">Berapa harganya?</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm text-center mt-4">
            <img src="assets/home/img/content/1-1024x683.jpg" width="80%" class="img-fluid" alt="Responsive image">
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <h2 class="text-center">
              Harga Normal: <del>Rp 380,000</del>
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <h1 class="text-center">
              Harga Promo: <strong class="text-danger">Rp 250,000</strong>
            </h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-10 mx-auto">
            <div class="jumbotron fluid-jumbotron bg-danger text-white text-center">
              <h3>Kabar baiknya khusus pembeli hari ini BONUS 1 Botol Lagi yang Artinya Bunda dapet <span class="font-weight-bold mt-1">2 Botol Madu Aisyahnya</span> </h3>
              <h3 class="mt-5">Apakah Bunda Salah dengar???</h3>
              <h3 class="mt-5">Tidak, Bunda tidak salah Dengar !</h3>
              <h3 class="mt-1 font-weight-bold">Harga Rp 250.000 sudah Dapet 2 Botol Madu + FREE Ongkir + Bisa Bayar COD</h3>
              <h3 class="mt-5">tapi Khusus 10 orang tercepat saja ya!</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="section section-basic">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="text-center">
              <h2 class="font-weight-bold">Madu Aisyah Ini Sangat Diminati Pasangan Yang Sedang Promil</h2>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-sm text-center">
            <img src="assets/home/img/content/Screenshot_8.png" class="img-fluid" alt="Responsive image">
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <h4 class="text-center">
              *Kami Mengirimkan Ratusan Paket Setiap Hari*
            </h4>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-10 mx-auto">
            <div class="jumbotron fluid-jumbotron">
              <h3>Tunggu Apalagi Bun? Yuk segera pesan Madu Aisyahnya biar segera ngisi..</h3>
              <h3 class="mt-5">Apalagi, bentar lagi lebaran lho, gak bosen “di serbu” pertanyaan</h3>
              <h3 class="mt-5 font-weight-bold">“ANAKNYA MANA?”</h3>
              <h3 class="mt-2 font-weight-bold">“BERDUA AJA ?”</h3>
              <h3 class="mt-2 font-weight-bold">“UDAH BERAPA ANAKNYA?”</h3>
              <h3 class="mt-2 font-weight-bold">“KOK BELOM GOAL?”</h3>
              <h3 class="mt-5">Yuk, bikin bangga di depan keluarga dengan memberikan kabar bahagia. </h3>
              <h3 class="mt-5 text-danger font-weight-bold">JANGAN DITUNDA LAGI!</h3>
              <h3 class="mt-5">Karena kalau semakin ditunda, bertambah pula usia Bunda, dan dengan bertambahnya usia maka peluang Hamil Bunda juga akan semakin kecil. Jadi jangan ditunda-tunda lagi ya…</h3>
              <h3 class="mt-5">Buruan manfaatin harga <span class="text-danger font-weight-bold">PROMONYA</span>, khusus hari ini Beli 1 GRATIS 1 lho.. jangan sampai keduluan orang lain, karena tiap detik ada orang yang beli dari website ini..</h3>
              <h3 class="mt-5">Segera hub CS kami untuk pesan/ konsultasi</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section section-basic">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <a type="btn" href="https://api.whatsapp.com/send?phone=6285876667166&text=Halo%20Bun%2C%20saya%20minat%20madu%20Aisyahnya%20bagaimana%20cara%20pesannya" class="btn btn-success btn-lg btn-block"><i class="fab fa-whatsapp"></i> Klik untuk WhatsApp</a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <footer class="footer" data-background-color="black">
    <div class="container">
      <div class="copyright float-right">
        &copy;
        <script>
          document.write(new Date().getFullYear())
        </script>, developed by 
        <a href="https://www.waveitsolution.com" target="_blank">WAVE Solusi Indonesia</a>
      </div>
    </div>
  </footer>
  <!--   Core JS Files   -->
  <script src="assets/home/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="assets/home/js/core/popper.min.js" type="text/javascript"></script>
  <script src="assets/home/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
  <script src="assets/home/js/plugins/moment.min.js"></script>
  <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
  <script src="assets/home/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="assets/home/js/plugins/nouislider.min.js" type="text/javascript"></script>
  <!--  Google Maps Plugin    -->
  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script> -->
  <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
  <script src="assets/home/js/material-kit.js?v=2.0.5" type="text/javascript"></script>
</body>

</html>